@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*Estos son los navs e imagenes junto al body
Pondre un comentario en cada seccion, es decir este iniciara y terminara
en donde yo coloque el otro comentario iniciando la otra seccion*/
*{
    padding: 0%;
    margin: 0%;
    outline: none;
    border: none;
    box-sizing: border-box;
}

img{
    width: 100%;
    display: flex;
}
a{
    text-decoration: none;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #181818;
}

nav{
    max-width: 1200px;
    margin: auto;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.nav-links{
    list-style: none;
    display: flex;
    align-items: center;
    gap:  3rem;
}

.link a{
    position: relative;
    padding-bottom: 0.75rem;
    color: #fff;
}

.link a::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #1d4ed8;
    transition: all 0.3s ease;
}

.link a:hover::after{
    width: 70%;
}
/*Botones y los contenedores junto a algunas animaciones*/
.btn{
    padding: 1rem 2rem;
    font-size: 1rem;
    color: #fff;
    background-color: #1d4ed8;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.btn:hover{
    background-color: #1e40af;
}

.container{
    max-width: 1200px;
    margin: auto;
    padding: 5rem 2rem;
}

.blur{
    position: absolute;
    box-shadow: 0 0 1000px 50px purple;
    z-index: -100;
}
/*Los headers*/
header{
    position: relative;
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

header .content h4{
    margin-bottom: 1rem;
    color: #ccc;
    font-size: 1rem;
    font-weight: 600;
}

header .content h1{
    color: #fff;
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 700;
    line-height: 4rem;
}

header .content h1 span{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #fff;
}

header .content p{
    margin-bottom: 2rem;
    color: #ccc;
}

header .image{
    position: relative;
}

header .image::before{
    content: "o";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 38rem;
    font-weight: 400;
    line-height: 20rem;
    color: #1d4ed8;
    opacity: 0.2;
    z-index: -100;
}

header .image img{
    max-width: 600px;
    margin: auto;
}
/*Seccion de hedaer y las caracteristicas*/
section .header{
    margin-bottom: 1rem;
    color: #fff;
    text-align: center;
    font-size: 2.25rem;
    font-weight: 600;
}

.caracteristicas{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.caracteristicas .card{
    background-color: #27272a;
    padding: 1rem;
    border: 2px solid transparent;
    border-radius: 15px;
    transition: all 0.3s ease;
}

.caracteristicas .card:hover{
    background-color: #323232;
    border-color: #fff;
}

.caracteristicas .card span{
    display: inline-block;
    background-color: #1e40af;
    padding: 2px 9px;
    margin-bottom: 1rem;
    font-size: 1.75rem;
    color: #fff;
    border-radius: 5px;
}

.caracteristicas .card h4{
    margin-bottom: 0.5rem;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
}

.caracteristicas .card p{
    color: #ccc;
    margin-bottom: 1rem;
}

.caracteristicas .card a{
    color: #fff;
    transition: all 0.3s ease;
}

.caracteristicas .card a:hover{
    color: #1e40af;
}

.sub-header{
    max-width: 600px;
    margin: auto;
    text-align: center;
    color: #ccc;
}

.precios{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.precios .card{
    padding: 3rem 2rem;
    background-color: #27272a;
    display: flex;
    flex-direction: column;
    border: 2px solid transparent;
    border-radius: 15px;
    transition: all 0.3s ease;
}

.precios .card:hover{
    background-color: #323232;
    color: #fff;
    border-color: #fff;
}

.precios .card .content{
    flex: 1;
    margin-bottom: 2rem;
}

.precios .card h4{
    margin-bottom:  1rem;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
}

.precios .card h3{
    color: #fff;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 600;
    border-bottom: 2px dashed #fff;
}

.precios .card p{
    color: #fff;
    margin-bottom: 0.75rem;
}

.precios .card p i{
    color: #ccc;
    font-size: 1.2rem;
    margin-right: 0.4rem;
}

.precios .card button{
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
}

.precios .card button:hover{
    background-color: #1e40af;
    border-color: #1e40af;
}

footer.container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    background: rgba(0, 0, 0, 0.1);
}

/* Efecto blur */
.blur {
    position: absolute;
    width: 100px;
    height: 100px;
    background: purple;
    border-radius: 50%;
    filter: blur(100px);
    opacity: 0.5;
}

.blur:nth-child(1) {
    top: 0;
    left: 0;
}

.blur:nth-child(2) {
    bottom: 0;
    right: 0;
}

/* Estilos de las columnas */
footer .column {
    text-align: left;
}

footer .column p {
    color: #ccc;
    margin-bottom: 2rem;
    line-height: 1.5;
}

footer .column .socials{
    display: flex;
    align-items: center;
    gap: 1rem;
}

footer .column .socials a{
    color: #ccc;
    border: 1px solid #ccc;
    padding: 5px 10px;
    font-size: 1.25rem;
    border-radius: 100%;
}

footer .column .socials a:hover{
    color: #fff;
    background-color: purple;
    border-color: purple;
}

footer .column h4{
    color: #fff;
    margin-bottom: 2rem;
    font-size: 1.2rem;
    font-weight: 500;
}

footer .column > a{
    display: block;
    color: #ccc;
    margin-bottom: 1rem;
    transition: all 0.3s ease;
}

footer .column > a:hover{
    color: #1d4ed8;
}

.copyright{
    max-width: 1200px;
    margin: auto;
    padding: 1rem;
    color: #fff;
    font-size: 0.8rem;
    text-align: center;
}

@media(width < 900px){
    .nav-links{
        display: none;
    }
    .header{
        grid-template-columns: repeat(1, 1fr);
    }
    .header .image{
        grid-area: 1/1/2/2;
    }
    .caracteristicas{
        grid-template-columns: repeat(2, 1fr);
    }
    .precios{
        grid-template-columns: repeat(2, 1fr);
    }
    footer{
        grid-template-columns: 1fr, 200px;
    }
}

@media(width < 600px){
    .header .image::before{
        display: none;
    }
    .caracteristicas{
        grid-template-columns: repeat(1, 1fr);
    }
    .precios{
        grid-template-rows: repeat(1, 1fr);
    }
    footer{
        grid-template-columns: 1fr, 150px;
    }
}